*{margin:0;padding:0;}
aside,section,article,p,div,span,figure,figcaption,img,input,form,html, footer, header,nav, p, ul, li{margin:0;padding:0;}
ul{list-style:none;}
.clear{clear:both;height:0;}
:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus{outline:none;}
ul:after{clear:both;	display:block;content:"";}
html{font-smooth:always;}
img{	max-width:100%;border:none;vertical-align:bottom;user-select:none;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;	-o-user-select:none;}
button, input[type="submit"]{-webkit-appearance:none;}
body{background:#fff;color: #000;font-size:14px;line-height:23px;font-family: 'Open Sans', sans-serif; font-weight:400; overflow-x:hidden;}
h1, h2, h3, h4, h5, b
{
	font-weight:600;
}
a{color:#F58D0D;}
.header
{
	position: fixed;
	box-shadow: 0px 4px 10px 0 rgba(22,22,22,0.08);
	-webkit-transform: translateZ(0);
	padding: 20px 0;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	background:#fff;
}
.logo {
	margin-top: 5px;
}
.custom_navigation
{
	background: none;
	border: none;
	margin: 0;
	min-height: inherit;
}
.explore_area ul li
{
	float: left;
	position: relative;
}
.explore_area ul li a
{
	color:#000;
	display: inline-block;
	margin-top: 5px;
}
.explore_area ul li a:hover
{
	color:#F58D0D;
}

.explore_area ul li .form-control {
	border-width: 1px;
	width: 140px;
	border-color: #ccc;
	height: auto;
	font-size: 14px;
	padding: 6px 5px 7px 30px;
	box-shadow: none;
	margin-left: 15px;
	transition: width 0.4s ease-in-out;
	-moz-transition: width 0.4s ease-in-out;
	-webkit-transition: width 0.4s ease-in-out;
	-ms-transition: width 0.4s ease-in-out;
	-o-transition: width 0.4s ease-in-out;
}
.explore_area ul li .form-control:focus
{
	width: 175px;
	transition: width 0.4s ease-in-out;
	-moz-transition: width 0.4s ease-in-out;
	-webkit-transition: width 0.4s ease-in-out;
	-ms-transition: width 0.4s ease-in-out;
	-o-transition: width 0.4s ease-in-out;
}
.explore_area ul li .fa-search {
	position: absolute;
	left: 22px;
	top: 7px;
	color: #ccc;
	font-size: 18px;
}
.logo img {
	height: 22px;
}
.custom_navigation .navbar-nav
{
	float: right;
}
.custom_navigation .navbar-nav li {
	margin-left: 15px;
}
.custom_navigation .navbar-nav li a {
	color: #000;
	padding: 5px 10px;
	line-height: inherit;
}
.custom_navigation .navbar-nav li a:hover {
	color: #F58D0D;
}
.custom_navigation .navbar-nav li a.orange_btn, .full_orange_btn {
	color: #fff;
	background: #F58D0D;
	border-radius: 3px;
	padding: 5px 20px;
}
.custom_navigation .navbar-nav li a.orange_btn:hover, .full_orange_btn:hover, .full_orange_btn:focus {
	color: #fff;
	background: #d85927;
}
.custom_navigation .navbar-collapse
{
	padding-right: 0;
}
.banner_area .item {
	max-height: 885px;
}
.banner_area .item > img {
	width: 100%;
}
.banner_area .carousel-caption {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding-top: 74px;
	text-shadow: none;
	right: 0;
}
.table_box {
	display: table;
	width: 100%;
	height: 100%;
}
.table_inner {
	display: table-cell;
	vertical-align: middle;
}
.watch_now_btn {
	display: inline-block;
	background: #F58D0D;
	color: #fff;
	text-transform: uppercase;
	padding: 15px 25px;
	font-size: 18px;
	border-radius: 5px;
	margin-top: 20px;
}
.watch_now_btn:hover {
	background: #fff;
	color: #F58D0D;
}
.animated_slow
{
	transition:0.25s ease-in-out all;
	-moz-transition:0.25s ease-in-out all;
	-webkit-transition:0.25s ease-in-out all;
	-ms-transition:0.25s ease-in-out all;
	-o-transition:0.25s ease-in-out all;
}
.animated_slow:hover
{
	transition:0.25s ease-in-out all;
	-moz-transition:0.25s ease-in-out all;
	-webkit-transition:0.25s ease-in-out all;
	-ms-transition:0.25s ease-in-out all;
	-o-transition:0.25s ease-in-out all;
}
.banner_area .carousel-caption h1 {
	font-weight: 300;
	font-size: 44px;
	line-height: 58px;
	margin-top: 0;
}
.project_area {
	background: #f5f5f5;
	padding: 15px 0 50px;
}
.project_boxouter h3 {
	font-weight: 600;
	margin-bottom: 20px;
}

.see_all {
	float: right;
	margin-top:5px;
	font-size: 16px;
}
.see_all:hover {
	text-decoration: underline;
}
.project_box {
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	margin: 5px 0 15px;
}
.project_imagebox {
	max-height: 185px;
	overflow: hidden;
}
.project_imagebox img {
	min-height: 185px;
	width:100%;
}
.project_contentarea
{
	padding:15px 15px 25px;
}
.project_contentarea h4 {
	min-height: 44px;
	font-size: 16px;
	font-weight: 600;
	line-height: 21px;
	margin-top: 0;
}
.project_contentarea h4 a {
	color: #000;
}
.progress_area p {
	font-size: 12px;
}
.progress_area p span
{
	color:#999;
}
.progress_area .progress-bar {
	background: #EDB30A;
}
.category_box {
	position: relative;
	max-height: 130px;
	overflow: hidden;
	background: #000;
	transition:0.25s ease-in-out all;
	-moz-transition:0.25s ease-in-out all;
	-webkit-transition:0.25s ease-in-out all;
	-ms-transition:0.25s ease-in-out all;
	-o-transition:0.25s ease-in-out all;
}
.category_box img {
	width: 100%;
	min-height: 130px;
	transition:0.25s ease-in-out all;
	-moz-transition:0.25s ease-in-out all;
	-webkit-transition:0.25s ease-in-out all;
	-ms-transition:0.25s ease-in-out all;
	-o-transition:0.25s ease-in-out all;
}
.category_caption {
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	font-size: 16px;
}
.category_caption a {
	display: block;
	height: 100%;
	color: #fff;
}
.icon-cat {
	display: inline-block;
	width: 35px;
	height: 35px;
	background: #fff;
	border-radius: 100%;
	color: #F58D0D;
	line-height: 33px;
	margin-top: 40px;
	font-size: 20px;
}
.category_box > img {
	opacity: 0.5;
	transition:0.25s ease-in-out all;
	-moz-transition:0.25s ease-in-out all;
	-webkit-transition:0.25s ease-in-out all;
	-ms-transition:0.25s ease-in-out all;
	-o-transition:0.25s ease-in-out all;
}
.category_box:hover > img {
	opacity: 0.8;
	transition:0.25s ease-in-out all;
	-moz-transition:0.25s ease-in-out all;
	-webkit-transition:0.25s ease-in-out all;
	-ms-transition:0.25s ease-in-out all;
	-o-transition:0.25s ease-in-out all;
}
.get_started
{
	background: #F58D0D;
	padding: 20px 0 40px;
}
.white_btn {
	background: #fff;
	display: inline-block;
	border-radius: 3px;
	padding: 8px 20px;
	margin: 20px 5px 0 5px;
	color: #F58D0D;
	border: 2px solid #fff;
}
.border_btn {
	background: none;
	color: #fff;
}
.white_btn:hover {
	background: rgba(0,0,0,0.1);
	color: #fff;
}
.footer
{
	background: #E9E9E9;
	padding: 20px 0;
}
.footer h4 {
	margin-bottom: 25px;
}
.footer ul li a
{
	color:#000;
}
.footer ul li a:hover
{
	color:#F58D0D;
}
.copyrights p
{
	border-top:1px solid #ccc;
	margin-top: 25px;
	padding-top: 20px;
}

/*** project detail page css here ***/
.inner_page
{
	padding-top: 70px;
}
.top_projectarea
{
	background: #FBFBFA;
	padding: 20px 0 50px;
}
.top_projectarea h1
{
	font-weight: 300;
}
.top_projectarea h4
{
	color: #626369;
	font-weight: 400;
}
.top_projectarea p
{
	color: #626369;
}
.top_projectarea h3
{
	font-weight: 400;
	font-size: 20px;
	margin-bottom: 0;
}
.top_projectarea .progress_area
{
	margin-top: 18px;
}
.top_projectarea .col-sm-12
{
	margin-bottom: 20px;
}
.tabs_area
{
	border-top: 1px solid #F1EEEA;
	border-bottom: 1px solid #F1EEEA;
	margin-bottom: 20px;
}
.tabs_area ul li
{
	margin: 0;
}
.tabs_area ul li a
{
	border: none !important;
	border-bottom: 2px solid transparent !important;
	color: #000;
	border-radius: 0;
	padding: 20px;
}
.tabs_area .nav-tabs
{
	border:none;
}
.tabs_area ul li.active a
{
	border-bottom: 2px solid #F58D0D !important;
}
.project_info p {
	margin: 10px 0;
}
.project_info figure {
	margin: 25px 0;
	background: #f5f5f5;
	padding: 15px;
	box-shadow: 0 0 10px rgba(0,0,0,0.15);
}
.project_info figure img {
	width:100%;
}
.project_info figure figcaption {
	color: #3D3D66;
	font-style: italic;
	margin-top:10px;
}
.project_tabs {
	margin-bottom: 50px;
}
.sidebar_box table {
	width: 100%;
}
.sidebar_box {
	background: #f8f9fd;
	border: 1px solid #e0e4fb;
	padding: 10px;
	margin-bottom: 25px;
	position: relative;
	overflow: hidden;
}
.sidebar_title {
	background: #F58D0D;
	margin: 0;
	padding: 10px;
	font-weight: 400;
	color: #fff;
}
.sidebar_box table tr td, .sidebar_box table tr th {
	padding: 5px;
	border: 1px solid #ddd;
	background: #fff;
	font-size: 13px;
}
.sidebar_box h4 {
	color: #F58D0D;
	font-weight: 400;
}
.sidebar_box ul, .sidebar_box p {
	color: #626369;
}
.sidebar_box ul li
{
	position: relative;
	padding-left: 22px;
	margin-top: 10px;
}
.sidebar_box ul li::after
{
	position: absolute;
	content: "\f0da";
	font-family: fontawesome;
	left: 5px;
	top: 0;
	font-size: 16px;
	color: #F58D0D;
}
.sidebar_box h4 span
{
	display: block;
	font-size: 14px;
	color: #000;
	margin-top: 10px;
}
.sidebar_hover
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: #F58D0D;
	opacity: 0;
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.sidebar_box:hover .sidebar_hover
{
	opacity: 0.9;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.sidebar_hover a
{
	display: block;
	color: #fff;
	height: 100%;
	font-size: 24px;
}
.team_box
{
	position: relative;
	padding-left: 155px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.owner_imagebox
{
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	width: 140px;
	color:#F58D0D;
}
.team_box:last-of-type
{
	border-bottom: none;
}
/*** project detail page css here ***/

/*** login page css here ***/
.form_area
{
	padding: 70px 0;
}
.form_innerarea {
	max-width: 600px;
	margin: 0 auto;
}
.dont_account {
	border-top: 1px solid #ccc;
	margin-top: 20px;
	padding-top: 12px;
}
.form_innerarea .form-control {
	height: auto;
	font-size: 14px;
	padding: 6px 10px;
}
.form_area .panel {
	margin: 25px 0;
}
.form_innerarea p b {
	color: #F58D0D;
}
/*** login page css here ***/

/*** signup page css here ***/
.signup_formarea .form_innerarea
{
	max-width: 86%;
}
input[type="radio"], input[type="checkbox"] {
	margin: 6px 0 0;
}
.btn.full_orange_btn + .btn {
	color: #F58D0D;
	margin-left: 10px;
}
.signup_formarea .panel-body {
	padding-bottom: 30px;
}
.form_innerarea .form-group label {
	font-weight: 600;
}
.star
{
	color:red;
}
.modal
{
	z-index: 99999;
}
#info_video .modal-dialog {
	width: 100%;
	margin: 0;
	height: 100%;
}
.video_pop .modal-backdrop
{
	background: #fff;
}
.video_pop .modal-backdrop.in {
  filter: alpha(opacity=95);
  opacity: .95;
}
.video_frame_outer
{
	max-width:800px;
	margin:0 auto;
}
.video_pop button.close
{
	position: absolute;
	right: 0;
	top: 6px;
	font-size: 56px;
	opacity: 0.4;
}
.video_pop .table_inner
{
	padding: 0 15px;
}
.top_projectarea h3 i
{
	min-width: 20px;
}
/*** signup page css here ***/


/*** responsive css here ***/
@media screen and (max-width:1200px)
{
	.custom_navigation .navbar-nav li a.orange_btn, .full_orange_btn
	{
		padding: 5px 10px;
	}
}
@media screen and (max-width:991px)
{
	.custom_navigation .navbar-nav li
	{
		margin-left: 5px;
	}
	.custom_navigation .navbar-nav li:first-child
	{
		margin-left: 0px;
	}
	.explore_area ul li .form-control
	{
		width: 135px !important;
	}
	#info_video .modal-dialog
	{
		width: auto;
	}
}

@media screen and (max-width:767px)
{
	.category_box
	{
		margin-bottom: 15px;
	}
	.header
	{
		padding: 10px 0;
	}
	.navbar-toggle
	{
		margin: 0;
	}
	.header
	{
		position: absolute;
	}
	.header aside, .header .navbar
	{
		position: inherit;
	}
	.navbar-collapse
	{
		position: absolute;
		left: 0;
		width: 100%;
		background: #fff;
		top:100%;
	}
	.custom_navigation .navbar-collapse
	{
		padding-right: 15px;
	}
	.custom_navigation .navbar-nav
	{
		float: none;
		margin: 10px 0;
	}
	.logo
	{
		text-align: left;
	}
	.banner_area .carousel-caption h1
	{
		font-size: 24px;
		line-height: 31px;
	}
	.watch_now_btn
	{
		padding: 5px 15px;
		font-size: 16px;
		margin-top: 10px;
	}
	.banner_area
	{
		margin-top: 70px;
	}
	.banner_area .carousel-caption
	{
		padding-top: 20px;
	}
	.signup_formarea .form_innerarea
	{
		max-width: 100%;
	}
	.form_area
	{
		padding: 20px 0;
	}
	.team_box
	{
		padding-left: 0;
		text-align: center;
	}
	.owner_imagebox
	{
		position: inherit;
		width: 100%;
	}
}

@media screen and (max-width:480px)
{
	.project_boxouter .col-sm-4.col-xs-6
	{
		width: 100%;
	}
	.banner_area .carousel-caption h1
	{
		font-size: 14px;
		line-height: 18px;
	}
	.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline
	{
		margin-left: 0;
	}
	.tabs_area ul li a
	{
		padding: 20px 10px;
	}
}